{% extends 'base.html.twig' %}

{# {% block title %}Bizikletak-Home{% endblock %} #}

{% block body %}
<head>

   <meta charset="UTF-8">

   <title>Bizikletak</title>

</head>

<body>

   <h1>Hello bizikletak !</h1>

</body>

</html>
{% endblock %}