{% extends 'base.html.twig' %}

{% block title %}New Gender{% endblock %}

{% block body %}
    <h1>Create new Gender</h1>

    {{ include('gender/_form.html.twig') }}

    <a href="{{ path('gender_index') }}">back to list</a>
{% endblock %}
